{% extends 'home/base.html' %}
{% block title %}PADINUSANTARA.com{% endblock %}
{% block content %}
<div class="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/media/assets/banner.png" alt="Praksis Digital Nusantara">
            <div class="carousel-caption">
                <h1 class="title_banner">Praksis Digital Nusantara</h1>
                <p class="desc_banner">Praksis Digital Nusantara adalah perusahaan yang berdedikasi untuk menyediakan beragam layanan dalam berbagai bidang teknologi dan pendidikan.</p>
                <a href="/halaman/tentang-kami/" class="info-button">About Us</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/media/assets/onn.jpg" alt="Slide 2">
            <div class="carousel-caption">
                <h1 class="title_banner">Praksis Digital Nusantara</h1>
                <p class="desc_banner"> Layanan produk digital berupa aplikasi web based, aplikasi mobila app, ebook, dll. Layanan non digital video profil, buku, desain produk, produk desain dan video.</p>
                <a href="/halaman/tentang-kami/" class="info-button">About Us</a>
            </div>
        </div>
        
    </div>
    <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
    <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
</div>

<div class="card-container">
    <div class="card">
        <img src="/media/assets/tech1.png" alt="Profesional">
        <div class="card-content">
            <h3>Profesional</h3>
            <p>Kami berkomitmen untuk memberikan pelayanan terbaik kepada klien kami.</p>
        </div>
    </div>
    <div class="card">
        <img src="/media/assets/pc.png" alt="Integritas">
        <div class="card-content">
            <h3>Integritas</h3>
            <p>Kami mengutamakan kejujuran dan kepercayaan dalam aktivitas bisnis kami.</p>
        </div>
    </div>
    <div class="card">
        <img src="/media/assets/laptop.png" alt="Kualitas">
        <div class="card-content">
            <h3>Kualitas</h3>
            <p>Memberikan kualitas yang terbaik kepada klien Praksis Digital Nusantara.</p>
        </div>
    </div>
    <div class="card">
        <img src="/media/assets/inn.jpg" alt="Kualitas">
        <div class="card-content">
            <h3>Inovasi</h3>
            <p>Merupakan fondasi kami untuk menciptakan produk terbaik bagi Klien.
</p>
        </div>
    </div>
</div>


<div class="card-container-services">
    <div class="card-text">
        <p class="text-center">Layanan Kami</p>
        <h1 class="title-services">Transforming Ideas into Digital Realities</h1>
    </div>

    <div class="card-services-container">
    <div class="card-services">
        <div class="card-content-services">
            <h3>Penerbitan Buku</h3>
            <p>Melakukan Penerbitan Surat Kabar, Jurnal dan Buletin atau Majalah.
            </p>
        </div>
        <div class="card-icon-services">
            <i class="fa-solid fa-book fa-2x"></i>
        </div>
    </div>
    <div class="card-services">
        <div class="card-content-services">
            <h3>Produksi Media</h3>
            <p>Creative Design & Creative Video: Melakukan Aktivitas Produksi Film, Video dan Program televisi oleh Swasta.
                </p>
        </div>
        <div class="card-icon-services">
   
            <i class="fa-solid fa-photo-film fa-2x"></i>
        </div>
    </div>
    <div class="card-services">
        <div class="card-content-services">
            <h3>Web & Mobile App</h3>
            <p>Menyediakan solusi teknologi informasi dan layanan berbasis web dan aplikasi web.
            </p>
        </div>
        <div class="card-icon-services">
         
            <i class="fa-brands fa-react fa-2x"></i>
        </div>
    </div>
    <div class="card-services">
        <div class="card-content-services">
            <h3>Pengolahan Data</h3>
            <p>Aktivitas Pengolahan Data.
        & Portal Web dan/Atau Platform digital dengan tujuan komersil.
                </p>
        </div>
        <div class="card-icon-services">
            <i class="fa-solid fa-database fa-2x"></i>
        </div>
    </div>
    <div class="card-services">
        <div class="card-content-services">
            <h3>Pelatihan Edukasi</h3>
            <p>Pelatihan kerja teknlogi informasi dan komunikasi swasta, industri kreatif swasta,  Pelatihan Kerja Teknologi informasi dan komunikasi Perusahan.
                </p>
        </div>
        <div class="card-icon">
            <i class="fa-solid fa-book-open fa-2x"></i>
        </div>
    </div>

    <div class="card-services">
        <div class="card-content-services">
            <h3>Digital Learning</h3>
            <p>Tempat belajar pelaku UMKM dalam berjualan online</p>
        </div>
        <div class="card-icon">
            <i class="fa-solid fa-radiation fa-2x"></i>
        </div>
    </div>
</div>
</div>



<div class="card-container-services-testimoni">
    <div class="card-text">
        <p class="text-center">Testimonial Kami</p>
        <h1 class="title-services">Transforming Ideas into Digital Realities</h1>
    </div>
    <div class="quote-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-quote text-primary" viewBox="0 0 16 16">
            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z"></path>
        </svg>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            {% for testimoni in testimoni_list %}
            <div class="swiper-slide">
                <div class="testimonial">
       
                    <div class="testimonial-content">
                        <p>{{ testimoni.content }}</p>
                        <img src="{{ testimoni.images.url }}" alt="Kualitas" class="client-img">
                    </div>
                   
                    <h4><a href="{{ testimoni.link }}">{{ testimoni.judul }}</a></h4>
                    <small>{{ testimoni.jabatan }}</small>
                </div>
            </div>
            {% endfor %}
       

        </div>
        <div class="swiper-pagination"></div>
    </div>

    </div>
</div>


<div class="card-container-services">
    <div class="card-text">
        <p class="text-center">Berita Kami</p>
        <h1 class="title-services">Article / News / Media</h1>
    </div>
    <div class="card-services-container">
        {% for news in news_list %}
        <div class="news-card">
            {% if news.images %}
            <img src="{{ news.images.url }}" alt="News Image" class="news-image">
            {% endif %}
            <div class="news-content">
                <div class="news-badge">{{ news.category }}</div>
                <h2>
                    <a href="{% url 'news_detail' slug=news.slug %}">{{ news.title }}</a>
                </h2>
                <p>Melakukan Aktivitas Produksi Film, Video dan Program televisi oleh Swasta</p>
             
            </div>
        </div>
        {% endfor %}
</div>
</div>

<div id="scrollToTeam" class="container-team">
    <div class="team-header">
        <span class="icon">★</span>
        <h2>Our Team</h2>
    </div>
    <div class="team-grid">
        <div class="team-card purple">
            <h3>Team Updates</h3>
            <span class="arrow">→</span>
    
        </div>
        <div class="team-card black" onclick="toggleCard(this)">
            <h3>Director</h3>
            <p>Andi Hermanto</p>
            <span class="plus">+</span>
            <img src="/media/team/andi.jpg" alt="Photo" class="photo">
        </div>
        <div class="team-card purple" onclick="toggleCard(this)">
            <h3>Data Analyst</h3>
            <p>Syamsu Alam</p>
            <span class="plus">+</span>
            <img src="/media/team/alam.JPG" alt="Photo" class="photo">
        </div>
        <div class="team-card black" onclick="toggleCard(this)">
            <h3>Developer / Designer</h3>
            <p>Ahmad Risal</p>
            <span class="plus">+</span>
            <img src="your-photo-url.jpg" alt="Photo" class="photo">
        </div>
        <div class="team-card yellow" onclick="toggleCard(this)">
            <h3>Designers</h3>
            <p>Nurabdiansyah </p>
            <span class="plus">+</span>
            <img src="your-photo-url.jpg" alt="Photo" class="photo">
        </div>
        <div class="team-card black" onclick="toggleCard(this)">
            <h3>Content Writer</h3>
            <p>Bahrul Amsal</p>
            <span class="plus">+</span>
            <img src="/media/team/team2.jpeg" alt="Photo" class="photo">
        </div>
        <div class="team-card yellow" onclick="toggleCard(this)">
            <h3>Full Stack Developer</h3>
            <p>Muh Bahrul Uluma Rasyid</p>
            <span class="plus">+</span>
            <img src="your-photo-url.jpg" alt="Photo" class="photo">
        </div>
    </div>
</div>

<div class="container-footer">
    <div class="card-contact">
        <div class="logo-contact">
            <img src="/media/assets/logo_v1.png" alt="Company Logo">
        </div>
        <div class="contact-info">
            
            <div class="card-text-contact">Praksis Digital Nusantara adalah perusahaan yang berdedikasi untuk menyediakan beragam layanan dalam berbagai bidang teknologi dan pendidikan.</div>
        </div>
        <div class="contact-info">
            <i class="fas fa-map-marker-alt"></i>
            <div class="card-text-contact">Address: Jl. Sultan Alauddin No.259, Gn. Sari, Kec. Rappocini, Kota Makassar, Sulawesi Selatan 90221</div>
        </div>
        <div class="contact-info">
            <i class="fas fa-phone"></i>
            <div class="card-text-contact">Phone: +6282188051812 / +6281343803141</div>
        </div>
        <div class="contact-info">
            <i class="fas fa-envelope"></i>
            <div class="card-text-contact">Email: praksisdn@gmail.com</div>
        </div>
    </div>
    <div class="card-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.682885082719!2d119.43846667498232!3d-5.154634594822683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbee357e932b365%3A0x1cea0d636cfd21d4!2sSquid%20Coffee!5e0!3m2!1sen!2sid!4v1717088472229!5m2!1sen!2sid" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>


{% endblock %}
